<div class="block-right">

  <h1>
    <%= image_tag(@profile.avatar, class: "img-circle", width: 48, height: 48) %>
    <%= @profile.name %>
    <% if @profile.profile_status == 'PRIVATE' %>
    <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
    <% end %>
  </h1>

  <!-- Información privilegiada -->
  <% unless @is_current_profile or @profile.profile_status == 'PUBLIC' or @is_friend_profile or (current_user.present? && current_user.role_type == 'Administrator') %>
    <p><em>Este perfil es privado y solo puede acceder a él si usted es amigo de este usuario.</em></p>
  <% else %>
      <p><em>Descripción:</em></p>
    <p><%= @profile.description %></p>
      <% unless @is_current_profile %>
        <% if current_user.profile.follows?(@profile) %>
           <%= link_to "Dejar de seguir", "/profiles/unfollow/#{@profile.id}", class:"btn btn-default"  %>
        <% else %>
           <%= link_to "Seguir", "/profiles/follow/#{@profile.id}", class:"btn btn-default"  %>
        <% end %>
      <% end %>
  <% end %>

  <% if current_user.present? and @profile.user.banned_until.present? and (current_user.role_type == 'Administrator' || @profile.user == current_user) %>
      <p>Baneado hasta: <%= @profile.user.banned_until %></p>
  <% end %>
</div>

<div class="buttons">
  <% if @is_current_profile %>
    <%= link_to "Editar", edit_profile_path(@profile), class:"btn btn-default"  %>
    </br>
  <% else %>
    <% unless @is_friend_profile or not current_user.present? %>
        <%= link_to "Enviar petición de amistad", "/request_friendships/send_request/#{@profile.user_id}", class: "btn btn-default"  %>


        </br>
    <% end %>
  <% end %>

  <% if current_user.present? && current_user.role_type == 'Administrator' && @profile.user.role_type == 'FreeUser' %>
      <%= link_to "Convertir a Premium", "/profiles/premium/#{@profile.id}", class:"btn btn-default"  %>
      </br>
  <% end %>

  <% if current_user.present? && current_user.role_type == 'Administrator' && @profile.user.role_type != 'Administrator' && @profile.user.banned_until == nil %>
      <form action="/profiles/ban/<%=@profile.id%>" method="get">
        <input type="text" name="date" placeholder="Banear hasta">
        <button type="submit">Banear</button>
      </form>
<% end %>
</div>

</br>
</br>

<h3>Comentarios</h3>
<%= render 'comments/list', id: @profile.id, commentedClass: 'profile' %>
