<div class="block-right">

  <h1>
    <%= image_tag(@profile.avatar, class: "img-circle", width: 48, height: 48) %>
    <%= @profile.name %>
    <% if @profile.profile_status == 'PRIVATE' %>
      <img src='https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_lock_black_24px.svg' />
    <% end %>
  </h1>
  <p>
    <%= @profile.description %>
  </p>

  <% if current_user.present? and @profile.user.banned_until.present? and (current_user.role_type == 'Administrator' || @profile.user == current_user) %>
      <p>
        Baneado hasta: <%= @profile.user.banned_until %>
      </p>
  <% end %>

</div>

<div class="buttons">
  <% if @is_current_profile %>
    <%= link_to "Editar", edit_profile_path(@profile), class:"btn btn-default"  %>
  <% else %>
    <% unless @is_friend_profile %>
        <%= link_to "Enviar petición de amistad", "/request_friendships/send_request/#{@profile.user_id}", class: "btn btn-default"  %>
    <% end %>
  <% end %>
</div>

</br>
</br>

<% if current_user.present? && current_user.role_type == 'Administrator' && @profile.user.role_type == 'FreeUser' %>
    <%= link_to "Convertir a Premium", "/profiles/premium/#{@profile.id}", class:"btn btn-default"  %>
<% end %>

<% if current_user.present? && current_user.role_type == 'Administrator' && @profile.user.role_type != 'Administrator' && @profile.user.banned_until == nil %>
    <form action="/profiles/ban/<%=@profile.id%>" method="get">
      <input type="text" name="date" placeholder="Baneado hasta">
      <button type="submit">Banear</button>
    </form>
<% end %>
