<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body id="welcome">
    <div class="container" id="container1">
      <br>
      <div class="jumbotron col-md-6 col-md-offset-3 " >
        
            <div class="form-group form-horizontal col-md-offset-3 centerfy">
                <img  class="image-responsive text-center col-md-9" align="middle" src="/assets/logo definitivo.png">
              
              
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <br>
              <div class="field">

                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password, "Contraseña" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
                <% end %><br/>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Repita contraseña" %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :username, "Usuario" %><br/>
                <%= f.text_field :username %>
              </div>

              <div class="field">
                <%= f.label :name, "Nombre" %><br/>
                <%= f.text_field :name %>
              </div>

              <div class="field">
                <%= f.label :surname1, "Primer apellido" %><br/>
                <%= f.text_field :surname1 %>
              </div>

              <div class="field">
                <%= f.label :surname2, "Segundo apellido" %><br/>
                <%= f.text_field :surname2 %>
              </div>

              <div class="field">
                <%= f.label :birthday, "Fecha de nacimiento" %><br/>
                <%= f.text_field :birthday, :placeholder => "dd/mm/aaaa" %>
              </div>

              <div class="field">
                <%= f.label :phone, "Teléfono" %><br/>
                <%= f.text_field :phone %>
              </div>

              <div class="field">
              <%= f.hidden_field :sku, value: User.generateSKU %>
              </div>



              <div class="actions">
                <%= f.submit "Registrate" %>
              </div>

            <% end %>
        </div>  
      </div>
    </div>
  </body>  
          <%= render "devise/shared/links" %>  
