<%= form_for([@comment]) do |f| %>

  <%= f.text_field :title, placeholder: 'Título', class: 'form-control' %>
  <%= f.text_area :body, placeholder: 'Comentario', class: 'form-control' %>

  <%= f.hidden_field :story_id, :value => id_story %>

	<div class="boton">
  	<%= f.submit 'Publicar comentario', class: "btn btn-primary" %>
  </div>

<% end %>