<% name ||= "Crear" %>
<h1>Crear historia</h1>

<%=form_for(@story) do |f|%>
    <% @story.errors.full_messages.each do |message| %>
        <div class="error">
          *<%= message  %>
        </div>
    <% end %>

    <div class="field">
      Portada: <%= f.file_field :cover %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :title, placeholder: "Título" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_area :description, placeholder: "Descripción" %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :language, placeholder: "Idioma" %>
    </div>
    <br>
    <div class="field">
      <%= f.number_field :price, placeholder: "Precio", min: 0, step: 0.1  %>
    </div>
    <br>
    <div class="field">
      <%= f.date_select :release_date, placeholder: "Fecha de salida" %>
    </div>
    <br>
    <div class="field">
      <%= f.submit "Guardar" %>
    </div>
<%end%>