<div class="row">
  <div class="col-md-4">
    <div class="story-metadata">
      <div class="center">
        <div class="story">
          <!-- TODO: Hacer que la imagen se posicione igual que como en las imágenes del diseñador -->
          <img class="cover-image" title="<%= story.title %>" src="/assets/temporal_cover.jpg" />
        </div>
      </div>
      <p class="valoration">Valoración</p>
      <h2><%= story.creatorProfile.name %></h2>
      <hr/>
      <p>Géneros: <%= story.categories %></p> <!-- TODO: Probar que las categorías se muestren cuando se arregle el problema de BD -->
      <p>Idioma: <%= story.language %></p> <!-- TODO: Mejorar la forma en la que se muestra el idioma -->
      <p>Fecha de publicación: <%= story.release_date %></p> <!-- TODO: Mejorar la forma en la que se muestra la fecha -->
    </div>
  </div>
  <div class="col-md-8">
    <div class="story-data">
      <h2 class="title"><%= story.title %></h2>
      <hr/>
      <div class="synopsis">
        <h4><strong>Resumen</strong></h4>
        <p><%= story.description %></p>
      </div>
      <div class="buttons">
        <% unless current_user.nil? %>
          <% unless story.has_been_acquired_by_user?(current_user) %>
            <form action="/additions/create/<%= story.id %>" method="get">
              <button type="submit" class="btn btn-primary">
                <p class="btn-label">Adquirir historia</p>
                <p class="price">Precio: <span><%= story.price %> €</span></p>
              </button>
            </form>
          <% else %>
            <button type="submit" class="btn btn-default">
              <p class="btn-label">Leer</p> <!-- TODO: Falta redirigir al lector -->
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
