<%= render 'stories/header' %>

<ul class="nav nav-tabs nav-justified">
  <li role="presentation">
    <%= link_to "Todas", stories_path, class:"btn btn-default" %>
  </li>
  <li role="presentation" class="active">
    <%= link_to "Adquiridas", stories_acquired_path, class:"btn btn-default" %>
  </li>
  <li role="presentation">
    <%= link_to "Creadas", stories_created_path, class:"btn btn-default" %>
  </li>
</ul>

<%= render 'stories/list' %>