<!DOCTYPE html>
<html>
<head>
  <title>Tree Story</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-sanitize.js"></script>

  <%= csrf_meta_tags %>
</head>

<body id="welcome">
  <div class="container">
    <div class="jumbotron jumbo-transparente col-md-6 col-md-offset-3 row">
      <div class="col-md-8 col-md-offset-2">

        <img class="logo center-block" src="/assets/logo definitivo.png">
              
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
          <div class="entrada">
            <%= f.email_field :email, autofocus: true, :placeholder => "Correo electr칩nico", class: "form-control" %>
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Contrase침a", class: "form-control" %>
            <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Mantener la sesi칩n activa" %>
            <% end %>
          </div>

          <%= f.submit "Iniciar sesi칩n" , class: "btn btn-primary btn-block" %> 

        <% end %>

        <hr>

        <a href="/auth/facebook" target="_blank" class="btn btn-block btn-social btn-facebook">
          <span class="fa fa-facebook"></span>
          <span>Conectar con Facebook</span>
        </a>

        <a href="/auth/twitter" target="_blank" class="btn btn-block btn-social btn-twitter">
          <span class="fa fa-twitter"></span>
          <span>Conectar con Twitter</span>
        </a>

        <hr>
                  
        <%= button_to 'Registrarse', new_user_registration_path, class: 'btn btn-danger btn-block', method: :get %>
          
        <%= link_to 'Descubrir', stories_example_path, class: 'btn btn-success btn-block', data: {'no-turbolink': 'true'} %>

      </div>
    </div>  
  </div>
</body>
</html>