<h1>Nueva donacion</h1>

<%= form_for(@donation, url: '/payment/donate', method: 'post')  do |f| %>
  <% if @donation.errors.full_messages.length > 0 %>
        <div class="errors">
          <p>
            Se encontraron los siguientes errores al guardar la donación
          </p>
          <% @donation.errors.full_messages.each do |message| %>
              <p class="error">
                *<%= message  %>
              </p>
          <% end %>
        </div>
    <% end %>


    <div class="container-fluid">
      <div class="col-md-6 col-md-offset-4 row">
        <div class="row">
          <div class="field">
            <!-- <%= f.label :amount, 'Cantidad' %> -->
            <i class="glyphicon glyphicon-euro" aria-hidden="true"></i>
          <%= f.text_field :amount %>
          </div>

          <div class="field">
          <h4>Nos interesa saber tu opinión para seguir creciendo.</h4>
          <%= f.label :message, 'Mensaje' %>
          <%= f.text_area :message, placeholder: 'Comentario' %>
          </div>
        </div>
        <div class="row boton">
          <div class="col-md-6">
            <%= f.submit 'Donar' , class:"btn btn-primary btn-block"%>
          </div>
        </div>
      </div>
    </div>





<% end %>