<script>
document.onload=function() {
  var title = $("#tit");
  var name=$();
  if (title=!"Nuevo género"){
    title.hide();
  }
  previewFile();  //calls the function named previewFile()
}
function previewFile() {
  var preview = document.querySelector('img'); //selects the query named img
  var file = document.querySelector('input[type=file]').files[0]; //sames as here
  var reader = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
    document.getElementById("category_icon").setAttribute("value", reader.result);
  }

  if (file) {
    reader.readAsDataURL(file); //reads the data as a URL

  } else {
    preview.src = "";
  }
}

</script>

<% name ||= "Nuevo género" %>
<h1 id="tit"><%= name %> </h1>
<%= form_for(@category) do |cat|%>
    <% @category.errors.full_messages.each do |message| %>
        <div class="error">
          *<%= message  %>
        </div>
    <% end %>

    <div class="field">
      <!-- Hay que ponerle un if para que al editarlo no se pueda modificar o hacer un método que se compruebe que no exista en la db-->
        <%= cat.text_field :name, placeholder: "Género", class:"form-field" %>
    </div>

    <div class="field">
        <%= cat.text_area :description, placeholder: "Descripción del género", class:"form-field" %>
    </div>
    <div class="field">
      <input type="file" onchange="previewFile()"><br>
      <img src="<%= @category.icon %>" height="200" alt="Image preview...">

    </div>
    <%=hidden_field(:category,:icon)%>
    <div class="buttons">
      <%= cat.submit "Guardar", class:"btn btn-default" %>
      <%= link_to "Volver", categories_path,class: "btn btn-default" %>
    </div>
<% end %>
