<!DOCTYPE html>
<html>
<head>
  <title>MagicStories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>


  <!-- Begin Body -->
  <div class="container">
    <div class="row">
      <div class="col-sm-2" id="leftCol">
        <div class="well">
          <ul class="nav nav-stacked" id="sidebar">
            <li>
              <a href="#sec1">Section 1</a>
            </li>
            <li>
              <a href="#sec2">Section 2</a>
            </li>
            <li>
              <a href="#sec3">Section 3</a>
            </li>
            <li>
              <a href="#sec4">Section 4</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-8" id="bodyCol">
        <%= yield %>
      </div>
      <div class="col-sm-2" id="rightCol">
      <!-- Posible publi -->
      </div>

      </div>
    </div>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render 'layouts/footer' %>

</body>
  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</html>
