<!DOCTYPE html>
<html>
<head>
  <title>Tree Story</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <!-- Begin Body -->
  <div class="container">
    <div class="row">

      <div class="col-sm-12" id="bodyCol">
        <%= yield %>
        <br>
        <% if flash.alert %>
          <p class="alert-notice"><%= flash.alert %></p>
        <% end %>
        <% if flash.notice %>
          <p class="alert-alert"><%= flash.notice %></p>
        <% end %>
      </div>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
