<!DOCTYPE html>
<html>
<head>
  <title>MagicStories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Magic Stories</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Historias</a></li>
          <li><a href="#">Crear historia</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Mi perfil</a></li>
              <li><a href="#">Mis amigos</a></li>
              <li><a href="#">Invitar amigos</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <footer>
    <nav class="navbar navbar-default navbar-bottom" role="navigation">
      <div class="container">
        <b>&#0169; Magic Stories <span id="year"/>
          <script>
            document.getElementById("year").innerHTML = new Date().getFullYear();
          </script>
        </b>
      </div>
    </nav>
  </footer>

  

</body>
</html>
